.folder-view {
  --file-border-width: 1px;
  --file-padding: 8px;
  --file-width: calc(
    var(--thumbnail-size) + (var(--file-padding) + var(--file-border-width)) * 2
  );
  border-width: 1px 0;
  flex: 1;
  padding: 0;
}

.folder-view .items {
  display: flex;
  flex-wrap: wrap;
}

.folder-view .pane-title {
  margin-bottom: 0;
  padding: var(--pane-padding);
}

.folder-view .items.grid {
  padding: 0 var(--pane-padding) var(--pane-padding);

  /* display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(var(--file-width), 1fr));
  justify-content: space-around; */
}

.folder-view .items.list {
  --pane-title-height: calc(var(--line-height) + var(--pane-padding) * 2);
  flex-direction: column;
  max-height: calc(100% - var(--pane-title-height));
}

.folder-view .item {
  border: var(--file-border-width) solid transparent;
  cursor: pointer;
  display: inline-block;
}
.folder-view .item.selected,
.folder-view .item:hover {
  background: var(--c-input-bg);
  border-color: var(--c-input-border);
}

.folder-view .label {
  overflow-wrap: break-word;
}
