.detail-view .value-pair > :last-child {
  float: right;
  font-family: monospace;
  margin-left: 4px;
}

.detail-view .file-icon {
  height: var(--preview-size);
  width: var(--preview-size);
}

.detail-view .file-icon .material-icons {
  font-size: var(--preview-size);
}
