.app-explorer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-explorer .middle-section {
  display: flex;
  flex: 1;
  max-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
}
.app-explorer .middle-section > * {
  overflow: auto;
}
