.favorites-view {
  border-width: 1px 1px 1px 0;
  padding: 0;
}
.favorites-view .pane-title {
  margin: 0;
  padding: var(--pane-padding);
}

.favorites-view .favorite {
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 4px var(--pane-padding);
  user-select: none;
}
.favorites-view .favorite:hover {
  background: var(--c-input-bg);
  border-color: var(--c-input-border);
}
