.item-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.item-icon .icon {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.item-icon .icon.image {
  background: url('/src/assets/images/checkers.png');
}

.item-icon .material-icons {
  text-shadow: 0 0 8px #0001;
}
