.explorer-header {
  align-items: center;
  border-width: 0;
  display: flex;
  height: var(--header-height);
}

.explorer-header .address-input {
  flex: 1;
  margin: 0 4px;
}

.explorer-header button.back {
  border-radius: 50% 0 0 50%;
}
.explorer-header button.forward {
  border-radius: 0 50% 50% 0;
  margin-left: -1px;
}
.explorer-header button.vertical-margin {
  margin: 0 4px;
}

.explorer-header input {
  font-size: var(--font-size);
  padding: 0 var(--pane-padding);
}

.explorer-header .separator {
  height: var(--input-size);
  width: 1px;
  margin: 0 var(--pane-padding);
  background: var(--c-input-border);
}

.explorer-header .off {
  opacity: 0.33;
}
