:root {
  --font-size: 16px;
  --footer-height: 40px;
  --header-height: 48px;
  --line-height: 20px;
  --line-height-compact: 18px;
  --pane-padding: 12px;
  --preview-size: 256px;
  --thumbnail-size: 128px;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--c-fg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

button {
  cursor: pointer;
}

button,
input {
  background-color: var(--c-input-bg);
  border: 1px solid var(--c-input-border);
  color: var(--c-fg);
  outline: none;
}
button:hover,
input:hover {
  border-color: var(--c-input-border-hover);
}
button:active,
input:focus {
  border-color: var(--c-input-border-active);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.pane {
  background: var(--c-bg);
  border: 1px solid var(--c-border);
  padding: var(--pane-padding);
}

.pane-title {
  margin: 0 0 var(--pane-padding);
}

.sidebar {
  width: 282px;
}

.centered-text {
  text-align: center;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece {
  background: var(--c-bg) !important;
}

::-webkit-scrollbar {
  width: 17px !important;
  height: 17px !important;
}

::-webkit-scrollbar-thumb {
  background: var(--c-input-bg);
  border: 3px solid var(--c-bg) !important;
  border-radius: 8px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-input-border);
}

/* libraries */
.react-contextmenu-item {
  background: var(--c-bg);
  border: 1px solid var(--c-border);
  padding: var(--pane-padding);
  margin-bottom: -1px;
  cursor: pointer;
}
.react-contextmenu-item:hover {
  background: var(--c-input-bg);
  border-color: var(--c-input-border);
}
