:root {
  --font-size: 16px;
  --footer-height: 40px;
  --header-height: 48px;
  --input-border-radius: 15px;
  --input-size: 30px;
  --line-height-compact: var(--font-size) * 1.125;
  --line-height: var(--font-size) * 1.25;
  --pane-padding: 12px;
  --preview-size: 256px;
  --thumbnail-size: 128px;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--c-fg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

button {
  cursor: pointer;
}

button,
input {
  background-color: var(--c-input-bg);
  border: 1px solid var(--c-input-border);
  color: var(--c-fg);
  outline: none;
  height: var(--input-size);
  min-width: var(--input-size);
  border-radius: var(--input-border-radius);
}
button:hover,
input:hover {
  border-color: var(--c-input-border-hover);
}
input:focus {
  border-color: var(--c-input-border-active);
}
button:active {
  opacity: 0.5;
}

button.primary {
  background-color: var(--c-primary);
  border-color: var(--c-primary-border);
}
button.primary:hover {
  border-color: var(--c-primary-hover);
}

input[type='range'] {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.pane {
  background: var(--c-bg);
  border: 1px solid var(--c-border);
  padding: var(--pane-padding);
}

.pane-title {
  display: flex;
  justify-content: space-between;
  margin: 0 0 var(--pane-padding);
}

.pane-title button {
  margin: -5px;
}

.sidebar {
  width: 282px;
}

.centered-text {
  text-align: center;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece {
  background: var(--c-bg) !important;
}

::-webkit-scrollbar {
  width: 17px !important;
  height: 17px !important;
}

::-webkit-scrollbar-thumb {
  background: var(--c-input-bg);
  border: 3px solid var(--c-bg) !important;
  border-radius: 8px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-input-border);
}

/* libraries */

/* @szhsin/react-menu */
#root .rc-menu {
  background: var(--c-input-bg);
  border-radius: 2px;
  border: 1px solid var(--c-input-border);
  color: var(--c-foreground);
  padding: 0;
}

#root .rc-menu__item {
  padding: 6px 12px;
}

#root .rc-menu__item--type-radio {
  padding-left: 24px;
}

#root .rc-menu__item--type-radio::before {
  content: '';
  left: 8px;
  top: 10px;
  font-size: 8px;
}

#root .rc-menu__item--type-radio.rc-menu__item--checked::before {
  content: '●';
}

#root .rc-menu__item--hover {
  background: var(--c-input-border);
}

#root .rc-menu__divider {
  background-color: var(--c-input-border);
  margin: 0;
}

/* react-modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0008;
  display: flex;
  justify-content: center;
  align-items: center;
}
